<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <div class="container">

        <footer class="page-footer font-small blue">


            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a> gi1addev.com</a>
            </div>


        </footer>
        <!-- Footer -->

    </div>

</div>
</body>
</html>