<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="strip">
    <div class="container-fluid">

        <div class="container">
            <div class="strip">
                <ul class="list-inline">
                    <i class="far fa-clock"></i>
                    <li class="list-inline-item">Режим работы: Пн. - Вс. с 9:00-20:00</li>
                    <i class="fas fa-phone"></i>
                    <li class="list-inline-item">+7(978)004-04-38</li>
                    <li class="list-inline-item"></li>
                </ul>


            </div>

        </div>
    </div>
</div>
</body>
</html>