.navbar {
    background-color: white !important;
    font-family: "hurme geometric sans 4 semibold", Helvetica, Arial, sans-serif;
}


.footer {
    position: absolute;
    padding: 7px;
    text-align: center;
    background-color: #f3f3f0 !important;
    min-height: 80px;
}

.fa-vk {
    font-size: 27px;
}

.text-muted {
    font-size: small;
}

body {

}

.carousel-inner {
    -webkit-user-select: none;

}

.carousel-caption {
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

.overlay {
    color: #fff;
    position: absolute;
    z-index: 12;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

.strip {

    background-color: black;
}

.list-inline {
    -webkit-user-select: none;
    padding-top: 9px;
    color: white;
    margin-left: 21em;

}

.list-inline-item {

}

.service-icon {
    float: left;
    display: inline;
    padding-right: 5em;

}

.service-text {
    padding: 2.5em;
}

.strip {
    height: 2.5rem;
}

#slider{
    -webkit-user-select: none;
    background-color: black;
    max-width: 100%;
}
.fa-angle-down{
    height: 2em;
    position: static;
    margin-right: 50%;
    margin-left: 45%;
}
#slider-body{
    background-color: black;
}

.fa-ul{
    color:white;

}
.fa-li{

}

@media (max-width: 576px) {
    .d-block {

    }

    .overlay{
        font-size: 0.5em;
    }

    .container-fluid{

    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:50.25%;
        position:relative;
        width: auto;
        height: 30em;
    }
    .strip{
        display: none;
    }

}
@media (max-width: 640px ) {
    .strip{
        display: none;
    }
}

@media (max-width: 840px ) {
    .strip{
        display: none;
    }
}
@media (max-width: 1024px ) {
    .strip{
        display: none;
    }
    .map-responsive{
        overflow:hidden;
        padding-bottom:50.25%;
        position:relative;
        width: auto;
        height: 30em;
    }
}

@media (min-width: 1200px) {
#contacts{
    margin-right: 30em;
}
  .carousel-inner{
      height: 60em;
  }

  #slider{
      display: none;
  }


}

















