.navbar{
    background-color: white !important;
    font-family: "hurme geometric sans 4 semibold",Helvetica,Arial,sans-serif;
}

.footer{
    padding: 7px;
    text-align: center;
    background-color: #f3f3f0 !important;
    min-height: 80px;
}

.fa-vk{
    font-size: 27px;
}
.text-muted{
    font-size: small;
}
body{

}

.carousel-inner{
    width: 100%;
    max-height: 560px;
    min-height: 490px;
}

