<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/footer.css" th:href="@{/css/footer.css}">
</head>
<body>
<div th:replace="fragments/header :: header"> </div>
<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
<div class="container">

        <div class="container-fluid">
            <h2>Добавить новость</h2>
            <form action="#" th:action="@{/admin/save}" th:object="${news}" method="post" enctype="multipart/form-data">
                <fieldset class="form-set">
                    <div class="form-group">

                        <input type="text" th:field="${news.header}" name="newsHeader" id="newsHeader"
                               placeholder="Заголовок новости"
                               required="true"
                               autofocus="true"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea name="newsText" th:field="${news.text}" id="newsText"
                                  placeholder="Текст новости" required="true"
                                  autofocus="true" class="form-control"
                                  style="height: 250px" >
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for = "fileUploadForm">Файл изображения новости</label>
                        <input type="file" th:field="${news.newsImage}" id="fileUploadForm" autofocus="true"
                               required="true" class="form-control-file">
                    </div>
                    <div>
                        <input type="submit" value="Добавить новость" class="btn btn-primary">
                        <input th:type="reset" value="reset" class="btn btn-warning">
                    </div>
                </fieldset>
            </form>
        </div>
        <form th:action="@{/logout}" method="post">

        </form>
    </div>

<div th:replace="fragments/footer :: footer"> </div>
<!-- Bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>