<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page </title>
</head>
<body id="LoginForm">
<div class="container">
    <h1 class="form-heading">Login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <form th:action="@{/login}" method="post" id="login">
                <fieldset>
                    <h1>Please Sign In</h1>
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="username" id="username" class="inputLogin"
                               placeholder="UserName" required="true" autofocus="true"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="inputPassword"
                               placeholder="Password" required="true"/>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-primary" value="Sign In"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>