<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/default.css" th:href="@{/css/default.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Салон красоты Цирюльня - официальный сайт</title>
</head>
<body>
<header>
    <div class="logo">
        <a class="logo2" href="/" style="text-decoration: none "> Парикмахерский салон цирюльня </a>
    </div>

    <nav>
        <ul>
            <li class='first'>
                <a href="#">О нас</a>
            </li>
            <li class='second'>
                <a href="#">Услуги и цены</a>
            </li>
            <li class='third'>
                <a href="/news">Новости</a>
            </li>
            <li class='four'>
                <a href="#">Цены</a>
            </li>
            <li class='five'>
                <a href="#">Контакты</a>
            </li>
        </ul>
    </nav>
</header>
<div class="main-content">
    Main content here.
</div>
<footer class="footer">
    This is footer
</footer>

</body>
</html>