<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="/static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="/static/css/default.css" th:href="@{/css/default.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Новости</title>
</head>
<header>
    <div th:replace="fragments/strip :: strip"></div>
    <div th:replace="fragments/navbar :: navbar"></div>
</header>
<body>

    <div th:if="${not #lists.isEmpty(page)}">
        <div th:each="news : ${page.content}">
            <h4 th:text="${news.header}"></h4>
            <p th:text="${news.text}"></p>
            <p>
                <img src="#" th:src="@{/images/{id}(id=${news.id})}" class="img-thumbnail" alt="Responsive image">
            </p>
            <p th:text="${news.newsDate}" style="margin-left: 68em; font-size: 14px"></p>
        </div>
    </div>
    <nav aria-label="Page navigation example" th:if="${page.size == 1}" hidden>
        <span th:if="${page.hasPrevious()}">
            <a th:href="@{/news(page=${page.number -1},size=${page.size})}"> Previous</a>
        </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/news(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/news(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </nav>


<div th:replace="fragments/footer :: footer"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>