<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="/static/css/default.css" th:href="@{/css/default.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<header>
<div class="logo">
    <a class="logo2" th:href="@{/}" style="text-decoration: none "> Парикмахерский салон цирюльня </a>
</div>

<nav>
    <ul>
        <li class='first'>
            <a href="#">О нас</a>
        </li>
        <li class='second'>
            <a href="#">Услуги и цены</a>
        </li>
        <li class='third'>
            <a href="/news">Новости</a>
        </li>
        <li class='four'>
            <a href="#">Цены</a>
        </li>
        <li class='five'>
            <a href="#">Контакты</a>
        </li>
    </ul>
</nav>
</header>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(news)}">
        <h2> News </h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Header</th>
                <th>Date</th>
                <th>Text</th>
                <th>Image</th>
            </tr>
            <tr th:each="news : ${news}">
                <td th:text="${news.id}"></td>
                <td th:text="${news.header}"></td>
                <td th:text="${news.newsDate}"></td>
                <td th:text="${news.text}"></td>
                <td>
                <img th:src="@{/images/{id}(id=${news.id})}" width="300 em" height="250 em" alt="uploadImage">
                </td>

            </tr>

        </table>
    </div>
</div>
</body>
<footer>

</footer>
</html>